/* Основные стили сайта */

@counter-style header-menu {
  system: cyclical 2;
  symbols: "\0U1241";
  suffix: " ";
}

:root {
  /* BEGIN: Базовые переменные цветов */
  --color-white: #fff;
  --color-black: #000;
  --color-primary: var(--color-black);
  --color-secondary: var(--color-white);
  /* ENG: Базовые переменные цветов */

  /* BEGIN: Базовые переменные шрифтов */
  --font-family-base: Raleway, Arial, sans-serif;
  --font-size-root: 10px;
  --font-size-base: 1.8rem;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-base: var(--font-weight-normal);
  --font-style-base: normal;
  --line-height-xs: 1.15;
  --line-height-sm: 1.2;
  --line-height-md: 1.35;
  --line-height-normal: normal;
  --line-height-base: var(--line-height-sm);
  --text-align-base: left;
  /* END: Базовые переменные шрифтов */

  /* BEGIN: Переменные body */
  --body-font-family: var(--font-family-base);
  --body-font-size: var(--font-size-base);
  --body-font-weight: var(--font-weight-base);
  --body-font-style: var(--font-style-base);
  --body-line-height: var(--line-height-base);
  --body-color: var(--color-primary);
  --body-bg-color: var(--color-secondary);
  /* END: Переменные body */

  /* BEGIN: Переменные заголовков */
  --headings-font-family: var(--font-family-base);
  --headings-font-weight: var(--font-weight-bold);
  --headings-line-height: var(--line-height-normal);
  --headings-text-transform: uppercase;
  --headings-color: var(--color-primary);
  /* END: Переменные заголовков */

  /* BEGIN: Переменные h1 */
  --h1-font-size: 10rem;
  --h1-line-height: var(--line-height-xs);
  --h1-letter-spacing: 0.3em;
  --h1-color: var(--color-secondary);
  /* END: Переменные h1 */

  /* BEGIN: Переменные h2 */
  --h2-font-size: 4rem;
  /* END: Переменные h2 */

  /* BEGIN: Переменные h2 */
  --h3-font-size: 2.2rem;
  --h3-line-height: var(--line-height-sm);
  /* END: Переменные h2 */
}

/* BEGIN: Общие и вспомогательные стили */

html {
  font-size: var(--font-size-root);
}

body,
.page {
  padding: 0;
  color: var(--body-color);
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  line-height: var(--body-line-height);
  background-color: var(--body-bg-color);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* END: Общие и вспомогательные стили */

/* BEGIN: Стили шапки сайта */
.header {
  margin: 0;
  padding: 92px 0 96px 0;
}

.header__inner {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  column-gap: 46px;
  margin: 0 auto;
  padding: 0 50px;
}

/* BEGIN: Стили навигации шапки сайта */
.menu {
  margin: 0;
  padding: 0;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  margin: 0;

  padding: 0;
  list-style-type: none;
}

.menu__list-item {
  margin: 0;
  padding: 0;
}
/* END: Стили навигации шапки сайта */

/* BEGIN: Стили логотипа шапки сайта */
.logo {
  margin: 0;
  padding: 0;
  display: block;
  width: 148px;
  height: 105px;
}

.logo__image {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  height: 100%;
}
/* END: Стили логотипа шапки сайта */

/* END: Стили шапки сайта */

/* BEGIN: Стили ссылок */
.link {
  --link-line-height: var(--line-height-normal);
  --link-color: var(--color-primary);
  --link-text-transform: lowercase;
  display: block;

  margin: 0;
  border-bottom: 1px solid currentColor;
  padding: 0;
  color: var(--link-color);
  text-decoration: none;
  text-transform: var(--link-text-transform);
}
/* END: Стили ссылок */

/* BEGIN: Стили адреса */
.address {
  margin: 0;
  padding: 0;
  font-style: var(--font-style-base);
}

.address__text {
  --text-line-height: var(--line-height-md);
  line-height: var(--text-line-height);
}
/* END: Стили адреса */
/* END: Стили шапки сайта */

/* BEGIN: Стили Section */
.section {
  margin: 0;
  padding: 50px 0;
  display: block;
}

.section__inner {
  margin: 0 auto;
  padding: 0 24px;
}

.section__title {
  margin: 0;
  padding: 0;
  font-family: var(--headings-font-family);
  font-size: var(--h2-font-size);
  font-weight: var(--headings-font-weight);
  line-height: var(--headings-line-height);
  text-transform: var(--headings-text-transform);
  color: var(--headings-color);
}
/* END: Стили Section */

/* BEGIN: Стили секции Cover */
.cover {
  display: block;
}

.cover__inner {
  --dominant-bg-color: #2d436a;
  margin: 0;
  padding: 165px 50px 50px;
  position: relative;
  z-index: 1;
  min-height: 757px;
  background-color: var(--dominant-bg-color);
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cover__inner::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: rgb(0 0 0 / 60%);
}

.cover__title {
  margin-bottom: 106px;
  padding: 0;
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  letter-spacing: var(--h1-letter-spacing);
  color: var(--h1-color);
}

.cover__title-accent {
  display: block;
  margin: 0 0 10px 0;
  padding: 0;
}

.cover__title-accent:last-child {
  margin-bottom: 0;
}

/* END: Стили секции Cover */

/* BEGIN: Миксовые стили */
.page__section {
  margin-bottom: 130px;
}
/* END: Миксовые стили */
